<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <meta http-esquiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/accueil_css_html_site.css">
        <title>Weather4u</title>
      </head>
      <body>
        <header>
            <div>
                <nav class="nav">
                    <div class="logo">
                        <a href="#"><span>W</span>eather<span>4</span>u</a>
                    </div>
                    <div class="nav-links" id="nav-links">
                        <ul>
                            <li class="active"><a href="#" class="current-page">Accueil</a></li>
                            <li><a href="/weather/">Météo</a></li>
                            <li><a href="/factures/piechart">Consommation</a></li>
                            <li><a href="/capteurs/">Capteurs</a></li>
                        </ul>
                    </div>
                    <img class="bouton_menu" src="../static/barre_menu.jpg" alt="">
                </nav>
            </div>
            <div class="titre">
                <h1>Weather4u</h1>
            </div>
            <div class="titre_b">
                <h1>Weather4u</h1>
            </div>
        </header>

            <div class="titre_bienvenue">
                <h2>Bienvenue !</h2>
            </div>

      </body>
    </html>