<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <meta http-esquiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/capteurs_css.css">
        <title>Weather4u</title>
        <script type="text/javascript" src="/static/bouton_js/bouton_capt1.js"></script>
        <script type="text/javascript" src="/static/bouton_js/bouton_capt2.js"></script>
        <script type="text/javascript" src="/static/bouton_js/bouton_capt3.js"></script>
        <script type="text/javascript" src="/static/bouton_js/bouton_capt4.js"></script>
      </head>
      <body>
        <header>
          <div>
            <nav class="nav">
              <div class="logo">
                <a href="#"><span>W</span>eather<span>4</span>u</a>
              </div>
                <div class="nav-links" id="nav-links">
                    <ul>
                        <li><a href="/accueil/">Accueil</a></li>
                        <li><a href="/weather/">Météo</a></li>
                        <li><a href="/factures/piechart">Consommation</a></li>
                        <li class="active"><a href="#" class="current-page">Capteurs</a></li>
                    </ul>
                </div>
                <img class="bouton_menu" src="../static/barre_menu.jpg" alt="">
            </nav>
          </div>
          <div class="titre">
                <h1>Weather4u</h1>
          </div>
          <div class="titre_b">
                <h1>Weather4u</h1>
          </div>
            
        </header>

          <div id="carre">
            <div id="petitcarre_1">
              <div class="Capt1">
                <h1>Capteur 1 - Humidité :</h1>
              </div>

              <form>
                <input class="Bouton_Capt1" type="button" value="Off" style="background-color: red;"/>
              </form>
              <!-- <script type="text/javascript" src="bouton_capt.js"></script> -->
            </div>

            <div id="petitcarre_2">
              <div class="Capt2">
                    <h1>Capteur 2 - Température :</h1>
              </div>
              <form>
                  <input class="Bouton_Capt2" type="button" value="Off" style="background-color: red;"/>
              </form>
              <!-- <script type="text/javascript" src="bouton_capt.js"></script> -->
            </div>

            <div id="petitcarre_3">
              <div class="Capt3">
                  <h1>Capteur 3 - Luminosité :</h1>
              </div>
              <form>
                  <input class="Bouton_Capt3" type="button" value="Off" style="background-color: red;"/>
              </form>
              <!-- <script type="text/javascript" src="bouton_capt.js"></script> -->
            </div>

            <div id="petitcarre_4">
              <div class="Capt4">
                  <h1>Capteur 4 - Présence :</h1>
              </div>
              <form>
                  <input class="Bouton_Capt4" type="button" value="Off" style="background-color: red;"/>
              </form>
              <!-- <script type="text/javascript" src="bouton_capt.js"></script> -->
            </div>

          </div>

      </body>
    </html>